In [ ]:
#riya natekar
#25070123093
#exp no.4 - STUDY OF SET IN PYTHON

In [30]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
set1={"apple" , "banana" , "cherry"}
print(set1)

{'cherry', 'apple', 'banana'}

In [3]:
set1=["apple" , "banana" , "cherry"]
print(set1)

['apple', 'banana', 'cherry']

In [6]:
set1=["apple" , "banana" , "cherry"]
print(set1[1])

banana

In [7]:
set2={2,2.5,True,"riya"}
print(set2)

{True, 2, 2.5, 'riya'}

In [10]:
#set removes dublicate

set3={"apple",2,True,1,"apple"}
print(set3)

{True, 2, 'apple'}

In [12]:
#adding

set4={"apple" , "banana" , "cherry"}
set4.add("kiwi")
print(set4)

{'kiwi', 'cherry', 'apple', 'banana'}

In [13]:
#removing

set5={"apple" , "banana" , "cherry"}
set5.remove("banana")
print(set5)

{'cherry', 'apple'}

In [19]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:" ,set6|set7)
print("intersection:" ,set6&set7)
print("difference:" ,set6-set7)
print("difference:" ,set7-set6)
print("disimilar:",set6 ^ set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
disimilar: {1, 2, 5, 6}

In [25]:
#frozen set

set8=frozenset({"apple" , "banana" , "cherry"})
print(set8)
print(type(set8))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [ ]:
#ading or removal of ellements ar enot allowed in frozensets
'''problem statement 1 : Unique Event participants
a colallage event has a list of students who regisitered multiple times by mistake.
write a program using set to store participants name and display only unique participants'''

In [44]:
import builtins

participants = ["alex","maya","daniel","sofia","liam","aisha"]
unique_participants = builtins.set(participants)
print("unique participants:", unique_participants)

unique participants: {'sofia', 'aisha', 'alex', 'liam', 'daniel', 'maya'}

In [47]:
# Sets of elective subjects chosen by three students
s1 = {"Maths", "Physics", "Computer Science"}
s2 = {"Maths", "Computer Science", "Biology"}
s3 = {"Maths", "Computer Science", "Chemistry"}


common = s1 & s2 & s3

print("Common subjects chosen by all three students:")
print(common)

Common subjects chosen by all three students:
{'Computer Science', 'Maths'}

In [50]:
''' problem statement 3 : one set contains students in the cricket club another in footblall club .
  find the students who are : 1. In both clubs
                              2. In only one club
  concept used : intersectiopn , symetricv diffrence'''



cricket = {"Amit", "Riya", "Sohan", "Neha"}
football = {"Riya", "Neha", "Karan", "Priya"}

both_clubs = cricket & football

only_one_club = cricket ^ football


print("Students in both clubs:", both_clubs)
print("Students in only one club:", only_one_club)

Students in both clubs: {'Neha', 'Riya'}
Students in only one club: {'Priya', 'Amit', 'Sohan', 'Karan'}